@font-face{
	font-family: "Cargo";
	src: url('../fonts/GenBkBasR.ttf');
}

@font-face{
	font-family: "Cargo";
	font-style: italic;
	src: url('../fonts/GenBkBasI.ttf');
}

@font-face{
	font-family: "Cargo";
	font-weight: bold;
	src: url('../fonts/GenBkBasB.ttf');
}

@font-face{
	font-family: "Josefin";
	src: url('../fonts/JosefinSans-Regular.ttf');
}
@font-face{
	font-family: "Josefin";
	font-style: italic;
	src: url('../fonts/JosefinSans-Italic.ttf');
}
@font-face{
	font-family: "Josefin";
	font-weight: bold;
	src: url('../fonts/JosefinSans-Bold.ttf');
}

html,body{
	height: 100%;
}

body{
	font-family: "Josefin", Helvetica, Arial, sans-serif;
	background: url("/mortenuit/assets/img/enfant_bg.png") !important;
}

h1,h2,h3,h4,h5{
	font-family: "Cargo", serif;
}

#login{
	margin: 0;	
	height: 100%;
}

#page-wrapper{
	background-color: rgba(255,255,255,0.35);
}

.panel{
	background-color: rgba(255,255,255,0.5);
}

nav.navbar{
	background-color: #4e4e4e;
}

nav.navbar ul.navbar-top-links li a{
	color: #fff;
}

nav.navbar ul.navbar-top-links li a:hover{
	color: #4e4e4e;
}

.navbar-top-links li{
	margin-top: 8px;
	margin-bottom: -7px;
}

.navbar-top-links li:last-child{
	top:-7px;
}

a{
	color: inherit;
}

.modalNic{
	border-radius: 4px;
	background-color: #ffffff;
	max-height: 40%;
	text-align: center;
}

.navbar-brand{
	padding: 3px 15px !important;
}

.toPop {
	border-radius: 4px;
	background-color: rgba(255,255,255,1);
	padding : 1.5em 2em 2em;
	max-height: 50%;
	overflow-y: scroll;
	display: none;
}

.toPop::-webkit-scrollbar-track{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
	border-radius: 10px;
}

.toPop::-webkit-scrollbar{
	width: 10px;
	background-color: #F5F5F5;
}

.toPop::-webkit-scrollbar-thumb{
	border-radius: 10px;
	background-image: -webkit-gradient(linear,
									   left bottom,
									   left top,
									   color-stop(0.44, rgb(122,153,217)),
									   color-stop(0.72, rgb(73,125,189)),
									   color-stop(0.86, rgb(28,58,148)));
}

.sidebar .fa-angle-right{
	float: right;
}

textarea[name="actionDescription"],
textarea[name="note"],
textarea[name="commentaires"],
textarea[name="bg"]{
	height: 150px; 
	resize: vertical;
}

/* MOBILE */
@media screen and (max-width: 576px){
	.navbar-top-links li{
		width: 100%;
		text-align: center;
	}

	.navbar-top-links li:nth-child(2){
		background-color: #888;
	}

	.navbar-top-links li.logout{
		text-align: right;
	}

	.navbar-top-links li form input {
		margin-top: 1em;
		width: 100%;
	}

}