@font-face{
	font-family: "Cargo";
	src: url('../fonts/Cardo-Regular.ttf');
}

@font-face{
	font-family: "Cargo";
	font-style: italic;
	src: url('../fonts/Cardo-Italic.ttf');
}

@font-face{
	font-family: "Cargo";
	font-weight: bold;
	src: url('../fonts/Cardo-Bold.ttf');
}

@font-face{
	font-family: "Josefin";
	src: url('../fonts/JosefinSans-Regular.ttf');
}
@font-face{
	font-family: "Josefin";
	font-style: italic;
	src: url('../fonts/JosefinSans-Italic.ttf');
}
@font-face{
	font-family: "Josefin";
	font-weight: bold;
	src: url('../fonts/JosefinSans-Bold.ttf');
}

html,body{
	height: 100%;
}

body{
	font-family: "Josefin", Helvetica, Arial, sans-serif;
}

h1,h2,h3,h4,h5{
	font-family: "Cargo", serif;
}

#login{
	margin: 0;	
	height: 100%;
}

.modal{
	border-radius: 4px;
	background-color: #ffffff;
	max-height: 30%;
	text-align: center;
}

.owl-nav{
	text-align: center;
}
.owl-nav > span{
	margin: 0 1.6em;
	font-size: 1.5em;
}
.owl-nav > span:hover {
	font-style: italic;
	text-decoration: underline;
}

.subDisciplineContainer{
	margin-top: 2em;
	display: flex;
	justify-content: space-between;
}

.toPopup{
	background-color: #ffffff;
	border-radius: 4px;
	max-height: 50%;
}